@import "base";
@import "colors";
@import "headings";
@import "form";
@import "map";
@import "links";
@import "shadows";
@import "components/toolbar";
@import "components/charts";
@import "components/tooltip";
@import "components/button";

#root {
    display: block;
    padding: 1rem;
    max-width: 800px; 
    margin: 0 auto;
}

.districtr__embed-container {
    display: flex;
    flex-direction: column;
    background: white;
}

#ns__container {
    width: 100%;
    max-width: 800px;
    height: 600px;
    max-height: 75vh;
    margin: 2rem 0;
    border: 1px solid $outline-grey;
}

.ns__msg {
    background: #ffc0ba;
    padding: 1em;
    margin: 0.5em 0;
    font-weight: bold;
    border-radius: 2px;
}

#ns__draw-msg {
    margin: 0;
    border-radius: 0;
}

.districtr__mini-toolbar {
    border-top: 1px solid $outline-grey;
}
.districtr__mini-toolbar .icon-list__item__radio {
    background-color: transparent;
}
.districtr__mini-toolbar-top {
    background-color: $districtr-light-grey;
}
